.category h6.title{
    font-size: 19px;
}
.category .image-thumnail-1 img {
    width: 100%;
    height: 260px;
}

.category .image-thumnail-2 img {
    width: 100%;
    height: 172px;
}

.category .image-thumnail-3 img {
    width: 100%;
    height: 161px;
}
.category .quatrang .current{
    background-color: #0056BB;
    color: wheat;
}
.category .page-numbers{
    background-color: white;
    color: #0056BB;
    padding: 5px;
    border: 1px solid rgb(179, 183, 179);
}
.category .quatrang {
    font-size: 15px;
}